body {
    background: white;
}

.vscode-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

.vscode-body blockquote {
    background-color: initial;
}

.vscode-body pre {
    color: initial;
    background: #f7f7f7 !important;
}

.vscode-body code {
    color: inherit;
}

.vscode-body pre code {
    color: initial;
}

.vscode-body code > div {
    background: none
}

.vscode-body table th,
.vscode-body table td {
    border: 1px solid #ddd !important;
}

.vscode-body.showEditorSelection .code-active-line:before {
	border-left: 3px solid rgba(0, 0, 0, 0.15);
}

.vscode-body.showEditorSelection .code-line:hover:before {
	border-left: 3px solid rgba(0, 0, 0, 0.40);
}

.vscode-body.showEditorSelection .code-line .code-line:hover:before {
	border-left: none;
}
