body {
    background: white;
}

.vscode-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

.vscode-body blockquote {
    background-color: initial;
}

.vscode-body pre {
    color: initial;
    background: #f7f7f7 !important;
}

.vscode-body code {
    color: initial;
}

.vscode-body pre code {
    color: initial;
}

.vscode-body code > div {
    background: none
}
